/* fonts imported */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


/* common-styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

.wrapper-container {
    max-width: 1320px;
    /* display: flex; */
    margin: auto;
}


.banner-area {
    background-color: #161616;
    border-radius: 30px;
    width: 100%;
    height: 100vh;
    padding: 2% 5%;
    margin-bottom: 50px;
}

.banner-content {

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.banner-left,
.banner-right {
    max-width: 50%;
}

.banner-title {
    font-weight: 700;
    font-size: 4rem;
    line-height: 5rem;
    color: #FFFFFF;
    margin-bottom: 2rem;
}

.banner-subtitle {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #FFFFFF;
    margin-bottom: 3em;
}

.banner-left a {
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 16px 25px;
    background-color: #DD0000;
    border-radius: 5px;
    transition: 0.4s;

}

.banner-left a:hover {
    font-size: 24px;
    background-color: #a30101;
    font-weight: bold;

}

.banner-left a img {
    padding: 0 10px;
}

/* Styling Blogs */


.blogs-container {
    display: flex;
    margin-top: 10rem;
}

.sidebar {
    max-width: 20%;
    max-height: 310px;
    background-color: #161616;
    border-radius: 10px;

}

.sidebar li {
    padding: 30px;
    list-style: none;
}

.sidebar li a {
    text-decoration: none;
    padding: 1em 1.5em;
    border-radius: 5px;
    background-color: white;
    font-size: 1.2em;
    /* line-height: 30px; */
    color: #161616;
}


.blog-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-wrap: wrap;
    padding-left: 1rem;
    /* padding-right: 3rem; */
    gap: 2rem;
}

.single-blog {
    width: 312px;
    background-color: #efefef;
    border-radius: 5px;
}

.blog-image {
    width: 312px;
    border-radius: 10px 10px 0px 0px;

}

.blog-caption {
    margin: 10px 0;
}

.blog-caption span {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #161616;
    border: 1px solid #161616;
    border-radius: 5px;

}

.blog-caption {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #161616;
    padding: 10px;
}

.reactions {
    display: flex;
    padding: 10px;
}

.duration,
.comment {
    display: flex;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #161616b3;
}

footer {
    display: flex;
    width: 100%;
    height: 444px;
    background: #161616;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
}

footer hr {
    max-width: 95%;
    margin-left: 1.5em;
}

.navigation ul {
    display: flex;
    /* justify-content: center; */
    list-style: none;
    font-size: 16px;
    line-height: 24px;
    font-feature-settings: 'liga' off;

    color: #B9B9B9;
}

.navigation ul li {
    padding: 1.5em;
}

.tab-cta {
    display: none;
}


/* ===============================================
Second Page : All Matches
=================================================== */
.flags-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 50px;
    column-gap: 50px;
    margin-left: 3rem;
}

.single-flag {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 312px;
    padding: 30px 10px;
    border: 1px solid #D8D8D8;
    border-radius: 5px;
}


.all-groups-content {
    max-width: 80%;
}

.all-groups-content img {
    width: 90%;
    padding: 0 5%;
}




/* media queries */

@media screen and (min-width:780px) and (max-width:1200px) {

    .banner-title {
        font-size: 40px;
        line-height: 50px;
    }

    .banner-right img {
        width: 90%;
    }

    .blogs-container {
        display: block;
    }

    .sidebar {
        display: flex;
        max-width: 100%;
        background-color: #ffffff;
    }

    .sidebar li a {
        border: 1px solid #E8E8E8;
    }

    .blog-content {
        grid-template-columns: repeat(2, 1fr);

    }

    .single-blog {
        width: 357px;
    }

    .single-blog img {
        width: 100%;
    }

    .tab-cta {
        display: block;
        width: 131px;
        height: 47px;
        background: #DD0000;
        border-radius: 5px;
        color: #FFFFFF;
        border: none;
        margin-top: 50px;
        margin-bottom: 50px;
        margin-left: auto;
        /* margin-right: 15%; */
    }

    .flags-content {

        grid-template-columns: repeat(2, 1fr);

    }


}

/* mobile screens */

@media screen and (max-width:779px) {

    .wrapper-container {
        max-width: 100%;
        /* display: flex; */
        margin-top: 20px;
    }

    .banner-area {

        height: 100%;
        padding: 2% 5%;

    }

    .banner-content {
        flex-direction: column;
        text-align: center;


    }

    .banner-left,
    .banner-right {
        max-width: 90%;
    }

    .banner-right img {
        width: 80%;
        margin-top: 40px;
    }

    .banner-title {
        width: 14rem;
        font-size: 22px;
        line-height: 33px;
        margin-bottom: 2rem;
        margin-top: 2rem;
    }



    .banner-subtitle {
        display: none;
    }

    .mobile-subtitle {
        display: flex;
        color: #FFFFFF;
        width: 15rem;
        font-size: 14px;
        line-height: 24px;
        margin-top: 2em;
        margin-bottom: 3em;

    }

    .banner-left a {
        font-size: 18px;
        line-height: 23px;
        padding: 10px 15px;
        background-color: #DD0000;
        border-radius: 5px;
        transition: 0.4s;

    }

    .sidebar {
        display: block;
        max-width: 100%;
        text-align: center;
        background-color: white;

    }

    .sidebar li a {
        padding: 1em 1.5em;
        border: 1px solid #E8E8E8;
        border-radius: 5px;
        font-size: 1em;

    }

    .blogs-container {
        flex-direction: column;
        justify-content: center;
        margin-top: 10rem;
    }

    .blog-tag {
        font-size: 17.1795px;

    }

    .blog-caption h3 {
        font-size: 18.7675px;

    }

    .blog-content {
        grid-template-columns: 100%;
        margin-bottom: 100px;
    }

    .single-blog {
        width: 335px;
    }

    .single-blog img {
        width: 100%;
    }

    footer {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;

    }

    .footer-content>h1 {
        font-size: 22px;
        line-height: 33px;
    }

    footer hr {
        max-width: 95%;
        margin-left: 1.5em;
    }

    .navigation ul {
        display: flex;
        flex-direction: column;
        font-size: 14px;
        line-height: 50px;
    }

    .navigation ul li {
        padding: 1em;
    }

    /* for second page */


    .flags-content {

        grid-template-columns: 100%;

    }

    .all-groups-content {
        max-width: 100%;
    }

    .all-groups-content img {
        width: 100%;
        padding: 0 2%;
    }
}